@model IEnumerable<pokemonWebProject.Models.pokemonModels.Trainer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatchedPokemonsAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DexCompleteAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allowance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatchedPokemonsAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DexCompleteAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allowance)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainerID })
        </td>
    </tr>
}

</table>
