@model pokemonWebProject.Models.pokemonModels.Acquire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Acquire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pokemon.nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pokemon.nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PokemonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PokemonID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.acquireID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
