@model IEnumerable<pokemonWebProject.Models.pokemonModels.Acquire>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon.nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PokemonID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pokemon.nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PokemonID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.acquireID }) |
            @Html.ActionLink("Details", "Details", new { id=item.acquireID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.acquireID })
        </td>
    </tr>
}

</table>
