@model IEnumerable<pokemonWebProject.Models.pokemonModels.Leader>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialisation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondJob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sallary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondJob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sallary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LeaderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LeaderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LeaderID })
            @Html.ActionLink("Rzuć Wyzwanie", "CreateByTrainer", "Challenges", new { id = item.LeaderID }, new { area = "" })
        </td>
    </tr>
}

</table>
